{% extends 'base.html' %} 
{% load static %}


{% block content %}
<h2 class="card-title">Django File Upload Website</h2>
<p class="card-text">Hello Friends, here you can upload any pdf document</p>
<p class="card-text">This is a practice example</p>
<p class="card-text">You can watch it on<a href="https://www.youtube.com/playlist?list=PLLxk3TkuAYnpm24Ma1XenNeq1oxxRcYFT">Youtube</a></p>

<p class="card-text">Created by Vitor Freitas</p>
<p class="card-text">Modified by Piyush Marathe</p>

{% endblock %}
